/* Display */

.ulli-mobile li ul{
    display:none;
}

.ulli-mobile .active{
    display:block;
}

.ulli-mobile.erase, .ulli-mobile .erase{
    display:none;
}


/* Design */


.ulli-mobile{
    font-family: arial;
    text-align: center;

    background-color:#666;
    color:#fafafa;
}

.ulli-mobile a {
    text-decoration: none;
    color:#fafafa;
    font-weight: bold;
    cursor:pointer;
}

.ulli-mobile ul, .ulli-mobile li{
    text-align: left;
    padding:0;

}

.ulli-mobile ul{
    list-style: none;
}

.ulli-mobile li{
    list-style: none;
    padding: 10px 0;
    border-top: 1px solid #eee;
    width: 100%;
}
.ulli-mobile li:hover{
    background-color: #aaa;
}

.ulli-mobile .page{
    background-color:#666;
    color:#fafafa;
    width: 100%;
}

.ulli-mobile ul.active{
    background-color: #999;
}


/* ----- icons */

.ulli-mobile .more, .ulli-mobile .less, .ulli-mobile .arrow{
    float: right;
    padding-right: 30px;
    font-size: 20px;
    font-weight: normal;
    height: 20px;
}

.ulli-mobile .back{
    padding: 4px;
}
